body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

button {
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}
#qr-reader {
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#qr-reader video {
  width: 100% !important;
  height: auto !important;
}


.scan-line {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 3px;
  background: red;
  z-index: 9999;
  animation: scanMove 2s infinite;
}

@keyframes scanMove {
  0% { top: 40%; }
  50% { top: 60%; }
  100% { top: 40%; }
}
