 html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 226, 226) !important;
  }

button {
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

#scanner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Tama침o real del esc치ner */
#qr-reader {
  position: relative;
  width: 340px;
  height: 140px;
  overflow: hidden;
  border-radius: 12px;
  background: black;
}



/* Video ajustado exactamente al tama침o del scanner */
#qr-reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
#qr-reader__dashboard {
  display: none !important;
}


  /* Precio en negrita */
  #modal-price {
    font-weight: bold;
    font-size: 1.2rem;
  }

  /* Centrar los botones del footer */
  .modal-footer {
    justify-content: center;
    gap: 15px; /* espacio entre botones */
  }

  /* Agrandar los botones + y - */
  #decrease, #increase {
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    padding: 0;
  }

  /* Input de cantidad m치s grande */
  #modal-qty {
    font-size: 1.5rem;
    text-align: center;
  }